<h1>New Travel</h1>
<%= form_for @travel do |f| %>
	<p>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= select_users(@users) %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>
<%= link_to 'Back to travel list', travels_path %>