<h3>Total cost: <%= @travel_cost %></h3>
<h3>Cost list</h3>
<ul>
	<% @user_costs.each do |cost| %>
		<li><%= User.find(cost[0]).login %> : <%= cost[1] %></li> 
	<% end -%>
</ul>

<h3>Pay list</h3>
<ul>
	<% @user_pays.each do |user_pay|%>
		<li><%= User.find(user_pay[0]).login %> : <%= user_pay[1]%></li>
	<% end -%>
</ul>

<h3>Result</h3>
<ul>
	<% @results.each do |k, v|%>
		<li><%= User.find(k).login %> : <%= v %></li>
	<% end -%>
</ul>
<%= link_to "Back", travel_url(@travel)%>