<h1><%= @travel.name %></h1>

<h2>Add a new bill</h2>
<%= form_for([@travel, Bill.new]) do |f| %>
	<p>
		<%= f.label :payer_id, 'payer' %>
		<%= f.select :payer_id, @travel.users.collect {|u| [u.login, u.id]} %>
	</p>
	<p>
		<%= label_tag 'consumers', 'consumers' %>
		<%= select_users(@travel.users) %>
	</p>
	<p>
		<%= f.label :cost %>
		<%= f.text_field :cost %>
	</p>
	<p>
		<%= f.label :subject %>
		<%= f.text_field :subject %>
	</p>
	<p>
		<%= f.label :date %>
		<%= f.datetime_select :date %>
	</p>
	<p>
		<%= f.label :comment %>
		<%= f.text_area :comment %>
	</p>
	<%= f.submit %>
<% end %>

<h2>Bill list</h2>
<%= link_to 'Show calculation result', travel_result_path(@travel) %>
<ul>
	<% @travel.bills.each do |bill| %>
		<li><%= link_to bill.subject, edit_travel_bill_path(@travel, bill.id) %> cost:<%= bill.cost %><%= link_to 'delete', travel_bill_path(@travel, bill.id), method: :delete, data: { confirm: 'Are you sure?' }%></li>
	<% end %>
</ul>


<%= link_to 'Back to travel list', travels_path %>
