<head>
  <title>TravelBill</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag    "bootstrap.min", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "common", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "sessions", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid">

  <section class="header">
    <h1 class="form-signin-heading">Login</h1>
  </section>
  <section class="login">
    <%= form_tag(sessions_path, class: "form-signin") do -%>
        <%= text_field_tag :login, params[:login], placeholder: "Username" %>
        <%= password_field_tag :password, params[:password], placeholder: "Password" %>

      <div class="btn-group">
        <p class="btn btn-lg btn-default">register</p>
        <%= submit_tag "Login", class: "btn btn-lg btn-primary submit"%>
      </div>
    <% end %>
  </section>
</div>
</body>


